<%- include ('../partials/header') %>
<%- include ('../partials/navbar') %>

<main>
    <div class="container">
        <h1>Welcome, <%= user.username %></h1>
        <section id="user_information">
            <h2>Your User Information</h2>
            <!-- Display user information -->
            <p>Name: <%= user.username %></p>
            <!-- Other user information... -->
        </section>
        <section id="edit_profile">
            <h2>Edit Your Profile</h2>
            <!-- Form for editing profile -->
            <form action="/update-profile" method="POST">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= user.username %>" required/><br><br>
                <!-- Other input fields with default values... -->
                <input type="submit" value="Save Changes">
            </form>
        </section>
    </div>
</main>

<%- include ('../partials/footer') %>
